﻿body {
    background-image:url(../images/yellow-wall.jpg);
    font-family:comic sans ms;
    font-size:18px;
}
.logo{
    position:absolute;
    color:rgb(69, 39, 18);
    left:15px;
    font-size:50pt;
}
.form{
    width:400px;
    height:400px;
    margin: 0 auto;
    position: relative;
}

#kitty_main{
  display: block;
  margin: 0 auto;
  width: 30%;
}
.form #send_thread{
    margin:10px;
    position: absolute;
    left:100px;
    font-weight: 700;
    color: white;
    padding: .5em 1em calc(.5em + 3px);
    border-radius: 3px;
    background: rgb(139, 69, 19);
    box-shadow: 0 -1px rgb(105, 55, 20) inset;
    transition: 0.2s;
}
.form #send_thread:hover { background: rgb(105, 55, 20); }
.form #send_thread:active {
  background: rgb(69, 39, 18);
  box-shadow: 0 3px rgb(69, 39, 18) inset;
}

.form .send_thread_message{
    margin:10px;
    position: absolute;
    right:5px;
    top:14px;
    font-weight: 700;
    color: white;
    padding: .5em 1em calc(.5em + 3px);
    border-radius: 3px;
    background: rgb(139, 69, 19);
    box-shadow: 0 -1px rgb(105, 55, 20) inset;
    transition: 0.2s;
}
.form.send_thread_message:hover { background: rgb(105, 55, 20); }
.form.send_thread_message:active {
    background: rgb(69, 39, 18);
    box-shadow: 0 3px rgb(69, 39, 18) inset;
}

.form .text_form{
    margin:10px;
    position: absolute;
    top:60px;
    border-style:solid;
    border-color:rgb(195, 195, 195);
    border-width: 3px;
      resize: none; /* Запрещаем изменять размер */
}
.form .file_form{
  margin:10px;
    position: absolute;
    top:260px;
}

#error404{
 text-align: center;
font-size: 100px;
}


.example-2 .btn-tertiary{
    left:4px;
    position: absolute;
    top:240px;
    color:rgb(139, 69, 19);
    padding:0;
    line-height:40px;
    width:350px;
    margin:9px;
    display:block;
    border:2px solid rgb(139, 69, 19);
}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
color:rgb(0, 0, 0)
border-color:rgb(139, 69, 19);
}

.example-2 .input-file1{
width:.1px;
height:.1px;
opacity:0;
overflow:hidden;
position:absolute;
z-index:-1;
}

.example-2 .input-file1 + .js-labelFile{
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
padding:0 10px;
cursor:pointer;
}
.example-2 .input-file1 + .js-labelFile .icon:before{
content:"\f093";
}

.example-2 .input-file1 + .js-labelFile.has-file1 .icon:before{
content:"\f00c";
color:rgb(139, 69, 19)
}
.text_post {
    white-space: pre-wrap;
    color:rgb(68,37,17);
}
#time{
    font-size:15px;
}
.post_size{
    word-wrap:break-word;

}

.post_block_with_picture{
    min-height:200px;
}
.post_block_without_picture{
    min-height:50px;

}

.user_image {
img.big {cursor: pointer; max-width: 150px;}
  img.big:hover {max-width: none;}
    }

