<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>404 not found</title>
     <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style.css')}}">
     <link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon">
 </head>
 <body>

   <p><img src="{{url_for('static', filename='images/404.png')}}" width="250" height="250" alt="404" id="kitty_main"></p>
   <div id="error404">404 not found</div>


 </body>
</html>