<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon">
</head>
<body>

    <div class="logo">
         <div>𝓚𝓲𝓽𝓽𝔂</div>
         <div>𝓫𝓸𝓪𝓻𝓭</div>
    </div>

    <p><img src="{{url_for('static', filename='images/kate.png')}}" width="250" height="150" alt="лого " id="kitty_main"></p>
    {%for message in get_flashed_messages()%}
    <h1><center>{{message}}</center></h1>
            {% endfor %}
    {%block body%}{%endblock%}

</body>
</html>