{%extends "base.html"%}

{%block title%}Kitty board{%endblock%}

{%block body%}
<div class="form">

<a id="send_thread" href="javascript:void(0);" onclick="viewdiv('mydiv');" data-text-show="Закрыть форму" data-text-hide="Создать тред">Создать тред</a>

<div id="mydiv" style="display:none;">
<form method="post" action="/" enctype="multipart/form-data">
<button type="submit" class="send_thread_message">Отправить</button>
<textarea rows="10" cols="50" name="thread" class="text_form" placeholder="Текст поста"></textarea>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-a..">
<div class="example-2">
<div class="form-group">
<input type="file" name="file" id="file1" class="input-file1">
<label for="file1" class="btn btn-tertiary js-labelFile">
<i class="icon fa fa-check"></i>
<span class="js-fileName">Загрузить картинку</span>
</label>
</div>
</div>
</form>
</div>

<script src="static/js/form.js"></script>

</div>

<div class = "post_size">
{% block content %}

  {% for n in my_list %}
    <hr>

    <p> <i id="time">{{n[1]}}</i> <a href="post/{{n[0]}}" >№{{n[0]}}</a> </p>
    {% if n[3] %}
    <div class="post_block_with_picture">
        <a href="{{ url_for('static', filename='user_images/'+n[3]) }}"> <img class="user_image" src="{{ url_for('static', filename='user_images/'+n[3]) }}" width="200" height="200" align="left"/></a>
        <p class="text_post">{{n[2]}} </p>
    </div>
    {%else%}
    <div class="post_block_without_picture">
        <p class="text_post">{{n[2]}} </p>
    </div>
    {% endif %}


{% endfor %}
{% endblock %}
</div>

{%endblock%}